@import "tailwindcss";

@theme {
    --color-primary: #1a56db;
    --color-primary-light: #eff4ff;
    --color-foreground: #1f1f1f;
    --color-secondary: #333333;
    --color-muted: #666666;
    --color-subtle: #999999;
    --color-placeholder: #bbbbbb;
    --color-divider: #e0e0e0;
    --color-input-border: #dddddd;
    --color-surface: #f5f5f5;
    --color-surface-alt: #f9f9f9;
    --color-surface-card: #e8e8e8;
    --color-success: #22c55e;
    --color-danger: #ee0000;
    --color-danger-dark: #cc0000;
    --color-danger-light: #fff0f0;
    --color-info: #0066cc;

    --font-family-heading: "Red Hat Display", sans-serif;
    --font-family-body: "Inter", sans-serif;
}

@layer base {
    html,
    body {
        height: 100%;
        font-family: var(--font-family-body);
        color: var(--color-foreground);
    }
}
